*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container{
  color:#fff;
  background-color: blueviolet;
  padding:20px 0;
  display: flex;
  justify-content: center;
}
.menu{
 
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.link{
  
    display: flex;

    width: 150px;
    justify-content: space-between;
}
.header-container{
    color: rgb(182, 154, 214);
background-color: #ddd;
display: flex;
justify-content: center;

}
.header{
    display: flex;
    width:900px;
    justify-content: space-around;
    height: 300px;
    align-items: center; 
    
}
.subscribe, .social{
    align-self: flex-end;
    margin-bottom:20px ;
}
.photo-grid-container{
    display: flex;
    justify-content: center;
    margin-top:2%;
}